@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-titling-gothic);
  --font-comp: var(--font-titling-gothic-comp);
  --font-comp-standard: var(--font-titling-gothic-comp-standard);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-titling-gothic), Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.container {
  @apply mx-auto w-full px-5 sm:px-[30px] md:px-10 lg:px-[50px];
}

@keyframes sway {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.035) 0px,
    rgba(0, 0, 0, 0.035) 1px,
    transparent 1px,
    transparent 10px
  );
}